# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/
/bower_components/*
src/bower_components/
src/bower_components/*
node_modules/
dist/
*.iml
*.log
.vscode
.idea/*
.classpath
.project
.settings
.ftpquota
.DS_Store
/build/
build/
.idea/deployment.xml
.idea/
